<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark nav-container">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Main</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [routerLink]="['partners']" routerLinkActive="active" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Market
        </a>
      </li>
      <li>
        <a [routerLink]="['testimonials']" routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Equipos Internacionales
        </a>
      </li>
      <li>
        <a [routerLink]="['projects']" routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Emprendimientos
        </a>
      </li>
      <li>
        <a [routerLink]="['products']" routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Materiales
        </a>
      </li>
      <li>
        <a [routerLink]="['contact']" routerLinkActive="active" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Contactos
        </a>
      </li>
    </ul>
    <hr>
  </div>
